@page
<div class="row">
    <div class="col-12 d-flex align-items-center">
        <p class="mb-0 me-2">Couper la sonnette</p>
        <input type="checkbox" id="silence" class="mt-1"/>
    </div>
    <div class="col-12 d-flex align-items-center">
        <p class="mb-0 me-2">Activer le son</p>
        <input type="checkbox" id="son" class="mt-1"/>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
